body {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

button {
  font-family: inherit;
}

.container {
  margin: 0 auto;
  padding: 50px 40px 50px 40px;
  height: 100%;
  width: 100%;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.counter__title {
  font-size: 37px;
  text-align: center;
}

.counter__value {
  font-size: 50px;
}

.counter__addButton,
.counter__resetButton {
  background-color: #4191ff;
  border-radius: 20px;
  height: 100px;
  width: 500px;
  border: none;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.counter__addButton:hover,
.counter__resetButton:hover {
  opacity: 0.6;
}

.counter__resetButton {
  background-color: #d45366;
}
