.container {
    margin: 0 auto;
    padding: 50px 40px 50px 40px;
    height: 100%;
    width: 100%;
}

.title-wrapper {
    margin-bottom: 50px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.addition {
    margin: 0 auto;
    background-color: #4191FF;
    border-radius: 20px;
    height: 100px;
    width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    align-content: center;
}

.addition_text {
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: white;
}